/* 1. Make the unordered list look like a horizontal navigation bar */

nav ul {

list-style-type: none;

display: flex;

}
/* 2. Change the background color behind the li text */

nav li {

background-color: navy;

color: white;

}
